<div id="inicial"></div>
<h1 id="subpanel">Mostrar Lista Estaciones Creadas</h1>
<div id="formularioPregunta">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Número</th>
      <th scope="col">Nombre Estación</th>
      <th scope="col">Descripción</th>
      <th scope="col">Peso</th>
      <th scope="col">Actor</th>
      <th scope="col">Grupos</th>
      <th scope="col">Eliminar</th>
    </tr>
    </thead>
    <tbody *ngFor="let e of estacionesList; let i = index">
    <tr>
      <th scope="row">{{i}}</th>
      <td>{{e.numero_estacion}}</td>
      <td>{{e.nombre}}</td>
      <td>{{e.descripcion}}</td>
      <td>{{e.peso}}</td>
      <td>{{e.actor}}</td>
      <td>{{e.grupo}}</td>
      <td>
        <button class="btn btn-outline-danger" (click)="eliminar(e.ID_estacion)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
