<div class="container">
  <div id="roles">
    <h2 mat-dialog-title>Seleccione el rol para acceder</h2>
    <mat-dialog-content>
      <select class="custom-select" (change)="rolSelected($event.target.value)" >
       <option>-- Seleccione un rol -- </option>
       <option *ngFor="let rol of roles;" [value]="rol"  name = "rol" >{{rol}} </option>
      </select>
    </mat-dialog-content>

<!--
    <mat-dialog-content>
            <mat-label>Roles</mat-label>
            <mat-select>
              <mat-option *ngFor="let rol of roles; let i = index;" [value]="rol"> {{rol}}
              </mat-option>
            </mat-select>
      </mat-dialog-content>

-->

  <div mat-dialog-actions>
    <button class="mat-button" mat-button [mat-dialog-close]="data" >Cancel</button>
    <button (click)="answer()"  type="button" class="mat-button" mat-button cdkFocusInitial color="primary" [mat-dialog-close]="data"  >Seleccionar</button>
  </div>

  </div>
</div>
